[Unit]
Description=PSL daemon  
 
[Service]
Type=simple
ExecStart=/usr/bin/psl-configure.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
